.footer {
  background-color: #1E1E1E4A;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}